# 멀티 인덱스

* xs( ): Cross Section -> 인덱스, 컬럼 정보가 다수 일 때 값에 접근하는 법

### 실습용 'titanic' 데이터셋

In [1]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')

TD = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

In [2]:
TD_3 = pd.pivot_table(TD,
                      index = ['class', 'sex'],
                      columns = 'survived',
                      values = ['age', 'fare'],
                      aggfunc = {'age':['mean', 'std'],'fare':['min', 'max']})

In [3]:
TD_3

                     age                                     fare            \
                    mean                   std                max
survived               0          1          0          1       0         1
class  sex
First  female  25.666667  34.939024  24.006943  13.223014  151.55  512.3292
       male    44.581967  36.248000  14.457749  14.936744  263.00  512.3292
Second female  36.000000  28.080882  12.915107  12.764693   26.00   65.0000
       male    33.369048  16.022000  12.158125  19.547122   73.50   39.0000
Third  female  23.818182  19.329787  12.833465  12.303246   69.55   31.3875
       male    27.255814  22.274211  12.135707  11.555786   69.55   56.4958


                   min
survived             0        1
class  sex
First  female  28.7125  25.9292
       male     0.0000  26.2875
Second female  10.5000  10.5000
       male     0.0000  10.5000
Third  female   6.7500   7.2250
       male     0.0000   0.0000

### 1. 행 멀티인덱스
* names = ['class', 'sex']

In [4]:
TD_3.index

MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

* <font color = 'blue'>행 멀티인덱스</font>: 객실 등급이 일등실
 - level = 'class'

In [5]:
TD_3.xs('First', level = 'class', axis = 0)

                age                                     fare            \
               mean                   std                max
survived          0          1          0          1       0         1
sex
female    25.666667  34.939024  24.006943  13.223014  151.55  512.3292
male      44.581967  36.248000  14.457749  14.936744  263.00  512.3292


              min
survived        0        1
sex
female    28.7125  25.9292
male       0.0000  26.2875

* <font color = 'blue'>행 멀티인덱스</font>: 성별이 남자
 - level = 'sex'

In [6]:
TD_3.xs('male', level = 'sex', axis = 0)

                age                                     fare                 \
               mean                   std                max            min
survived          0          1          0          1       0         1    0
class
First     44.581967  36.248000  14.457749  14.936744  263.00  512.3292  0.0
Second    33.369048  16.022000  12.158125  19.547122   73.50   39.0000  0.0
Third     27.255814  22.274211  12.135707  11.555786   69.55   56.4958  0.0



survived        1
class
First     26.2875
Second    10.5000
Third      0.0000

### 2.열 멀티인덱스
* names = [None, None, 'survived']
* names = [0, 1, 2]

In [7]:
TD_3.columns

MultiIndex([( 'age', 'mean', 0),
            ( 'age', 'mean', 1),
            ( 'age',  'std', 0),
            ( 'age',  'std', 1),
            ('fare',  'max', 0),
            ('fare',  'max', 1),
            ('fare',  'min', 0),
            ('fare',  'min', 1)],
           names=[None, None, 'survived'])

* <font color = 'blue'>.set_names( )
 - names: ['Header', 'Fuction', 'Survived']

In [8]:
TD_3.columns.set_names(['Header', 'Fuction', 'Survived'], inplace = True)

In [9]:
TD_3.columns

MultiIndex([( 'age', 'mean', 0),
            ( 'age', 'mean', 1),
            ( 'age',  'std', 0),
            ( 'age',  'std', 1),
            ('fare',  'max', 0),
            ('fare',  'max', 1),
            ('fare',  'min', 0),
            ('fare',  'min', 1)],
           names=['Header', 'Fuction', 'Survived'])

* <font color = 'blue'>.set_levels( )
 - Level(Survived): ['Dead', 'Alive']

In [10]:
TD_3.columns.set_levels(['Dead', 'Alive'], level = 2, inplace = True)

<ipython-input-10-ace6f01fc354>:1: FutureWarning: inplace is deprecated and will be removed in a future version.
  TD_3.columns.set_levels(['Dead', 'Alive'], level = 2, inplace = True)

In [11]:
TD_3.columns

MultiIndex([( 'age', 'mean',  'Dead'),
            ( 'age', 'mean', 'Alive'),
            ( 'age',  'std',  'Dead'),
            ( 'age',  'std', 'Alive'),
            ('fare',  'max',  'Dead'),
            ('fare',  'max', 'Alive'),
            ('fare',  'min',  'Dead'),
            ('fare',  'min', 'Alive')],
           names=['Header', 'Fuction', 'Survived'])

In [12]:
TD_3

Header               age                                     fare            \
Fuction             mean                   std                max
Survived            Dead      Alive       Dead      Alive    Dead     Alive
class  sex
First  female  25.666667  34.939024  24.006943  13.223014  151.55  512.3292
       male    44.581967  36.248000  14.457749  14.936744  263.00  512.3292
Second female  36.000000  28.080882  12.915107  12.764693   26.00   65.0000
       male    33.369048  16.022000  12.158125  19.547122   73.50   39.0000
Third  female  23.818182  19.329787  12.833465  12.303246   69.55   31.3875
       male    27.255814  22.274211  12.135707  11.555786   69.55   56.4958

Header
Fuction            min
Survived          Dead    Alive
class  sex
First  female  28.7125  25.9292
       male     0.0000  26.2875
Second female  10.5000  10.5000
       male     0.0000  10.5000
Third  female   6.7500   7.2250
       male     0.0000   0.0000

* <font color = 'red'>열 멀티인덱스</font>: 평균 나이

In [13]:
TD_3.xs('mean', level = 'Fuction', axis = 1)

Header               age
Survived            Dead      Alive
class  sex
First  female  25.666667  34.939024
       male    44.581967  36.248000
Second female  36.000000  28.080882
       male    33.369048  16.022000
Third  female  23.818182  19.329787
       male    27.255814  22.274211

* <font color = 'red'>열 멀티인덱스</font>: 생존자 정보

In [14]:
TD_3.xs('Alive', level = 'Survived', axis = 1)

Header               age                 fare
Fuction             mean        std       max      min
class  sex
First  female  34.939024  13.223014  512.3292  25.9292
       male    36.248000  14.936744  512.3292  26.2875
Second female  28.080882  12.764693   65.0000  10.5000
       male    16.022000  19.547122   39.0000  10.5000
Third  female  19.329787  12.303246   31.3875   7.2250
       male    22.274211  11.555786   56.4958   0.0000

* <font color = 'red'>열 멀티인덱스</font>: 최저 요금

In [15]:
TD_3.xs(('fare', 'min'), level = ['Header', 'Fuction'], axis = 1)

Survived          Dead    Alive
class  sex
First  female  28.7125  25.9292
       male     0.0000  26.2875
Second female  10.5000  10.5000
       male     0.0000  10.5000
Third  female   6.7500   7.2250
       male     0.0000   0.0000

* <font color = 'red'>열 멀티인덱스</font>: 사망자의 평균 나이

In [17]:
TD_3.xs(('age', 'mean', 'Dead'), level = ['Header', 'Fuction', 'Survived'], axis = 1)

Header               age
Fuction             mean
Survived            Dead
class  sex
First  female  25.666667
       male    44.581967
Second female  36.000000
       male    33.369048
Third  female  23.818182
       male    27.255814